<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calendario</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/6.1.8/index.global.min.css" />
  <link rel="stylesheet" href="css/calendario.css">
</head>
<body>
  <!-- Barra Superior -->
  <div class="barra-superior">
    <div class="menu-icono" onclick="mostrarMenu()"></div>
    <div class="titulo">To-Do List</div>
  </div>

  <!-- Barra Lateral -->
  <div class="barra-lateral" id="barraLateral">
    <div class="cerrar" onclick="cerrarMenu()">×</div>
    <ul>
        <a href="tareas.html">
            <i class="fas fa-home" style="font-size: 30px;"></i>
            <p>Inicio</p>
        </a>
        <a href="todo_test.html">
            <i class="fa-solid fa-plus" style="font-size: 30px;"></i>
            <p>Crear</p>
        </a>
        <a href="Perfil.html">
            <i class="fa-regular fa-user" style="font-size: 30px;"></i>
            <p>Perfil</p>
        </a>
    </ul>
</div>


  
  <div class="contenido">
    <h2 class="titulo-calendario">Calendario</h2>
    <div id="calendario"></div>
  </div>

  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/6.1.8/index.global.min.js"></script>
  <script>
    
    function mostrarMenu() {
      document.getElementById('barraLateral').classList.add('mostrar');
    }

    function cerrarMenu() {
      document.getElementById('barraLateral').classList.remove('mostrar');
    }

    
    document.addEventListener('DOMContentLoaded', function () {
      const calendarEl = document.getElementById('calendario');
      const calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        locale: 'es', 
        headerToolbar: {
          left: 'prev,next today',
          center: 'title',
          right: 'dayGridMonth,timeGridWeek,timeGridDay'
        },
        buttonText: {
          today: 'Hoy',
          month: 'Mes',
          week: 'Semana',
          day: 'Día'
        },
        events: [
          {
            title: 'Evento de prueba',
            start: '2024-11-25',
            end: '2024-11-27',
            color: '#09a7b3' 
          },
          {
            title: 'Otro evento',
            start: '2024-11-30',
            color: '#f45b5b'
          }
        ]
      });
      calendar.render();
    });
  </script>
</body>
</html>
