<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Pendientes</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/tarea.css">
</head>
<body>
  <div class="contenedor">
    <!-- Barra superior -->
    <div class="barra-superior">
      <div class="menu-icono" id="menu-icono"></div>
      <div class="titulo">To-Do List</div>
    </div>

    <!-- Barra lateral -->
    <div class="barra-lateral" id="barra-lateral">
      <div class="cerrar" id="cerrar-lateral">&times;</div>
      <ul>
        <li><a href="calendario.html"><i class="fa-regular fa-calendar"style="font-size: 30px;"></i><p>Calendario</p></a></li>
        <li><a href="todo_test.html"><i class="fa-solid fa-plus"style="font-size: 30px;"></i><p>Crear</p></a></li>
        <li><a href="Perfil.html"><i class="fa-regular fa-user"style="font-size: 30px;"></i><p>Perfil</p></a></li>
      </ul>
    </div>

    
    <div class="contenido">
      
      
      <div class="pendientes-columns">
        
        <div class="pendientes-lista">
          <h3>Importantes</h3> 
          <div class="pendiente por-vencer">
            <label class="container">
              <input type="checkbox" class="checkbox">
              <div class="checkmark"></div>
            </label>
            <span class="icono"></span> Por Vencer/Importante
          </div>
        </div>

        
        <div class="pendientes-lista">
          <h3>Pendientes</h3> 
          <div class="pendiente en-proceso">
            <label class="container">
              <input type="checkbox" class="checkbox">
              <div class="checkmark"></div>
            </label>
            <span class="icono"></span> En Proceso
          </div>
        </div>

       
        <div class="pendientes-lista">
          <h3>Terminado</h3> 
          <div class="pendiente terminado">
            <label class="container">
              <input type="checkbox" class="checkbox" checked="checked"> 
              <div class="checkmark"></div>
            </label>
            <span class="icono"></span> Terminado
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    
    const menuIcono = document.getElementById('menu-icono');
    const barraLateral = document.getElementById('barra-lateral');
    const cerrarLateral = document.getElementById('cerrar-lateral');

    menuIcono.addEventListener('click', () => {
      barraLateral.classList.add('mostrar');
    });

    cerrarLateral.addEventListener('click', () => {
      barraLateral.classList.remove('mostrar');
    });
  </script>
</body>
</html>
